*{
    width: auto 0;
    margin:auto 0 ;
    padding:auto 0 ;
    font-size:auto 0;
    box-sizing:auto 0 ;
    font-family:auto o ;

}
    header{
    text-align: center;
    background-color: lemonchiffon;
    padding: 12PX;
}
a{
    margin: 50px;
    font-size: x-large;
    text-decoration: none;
    padding: 10%;
    color: blue;
}
.logo{
    height: 70px;
}
.sec1{
   display: flex; 
   background: lightblue;
}
.right{
    width: 50%;
    padding-left: 20px;
    
}
.left{
    width: 50%;
    padding-left: 30px;
}
.right p{
    width: 80%;
}
.left p{
    width: 75%;
}
h3{
    padding: 10px;
}
h1{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;

}
.sec2{
    text-align: center;
    background-color: lightgrey;
}
.sec2 p{
width: 75%;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;
}
h2{
    padding-top: 15px;
}
img{
    height: 30vh;
    margin: 0 5px;
}
footer{
    text-align: center;
    padding: 15px;
 background-color: lemonchiffon;
 color: blue;
}
