*{
    width: auto 0;
    margin:auto 0 ;
    padding:auto 0 ;
    font-size:auto 0;
    box-sizing:auto 0 ;
    font-family:auto o ;

}
    header{
    text-align: center;
    background-color: lemonchiffon;
    padding: 12PX;
}
a{
    margin: 50px;
    font-size: x-large;
    text-decoration: none;
    padding: 10%;
    color: blue;
}
section{
    background: url(images/background\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    height: 50vh;
    display: flex;
}

h1, h3{
    padding: 10px;
}
h1{
    padding-top: 90px;
}
.left, .right{
width: 50%;
padding: 0 30px;
}
input,textarea,button{
display: flex;
flex-direction: column;
width: 100%;
margin: 10px;
padding: 10px 0px;
border: 1px solid grey;
border-radius: 10px;
text-align: center;


}
button{
    width: auto;
    float: none;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;

}
form{
    margin: auto 70px;
    align-items: center;
    color:chocolate;
}
.right h3{
    padding-top: 90px;
    
}
footer{
    text-align: center;
    background-color:lemonchiffon ;
    padding: 20px;
    color: blue;
}
.right{
    text-align: center;
}
.right input{
    text-align: justify;
}
    