*{
    width: auto 0;
    margin:auto 0 ;
    padding:auto 0 ;
    font-size:auto 0;
    box-sizing:auto 0 ;
    font-family:auto o ;
 
}
section{
    background-image: url(images/background.jpg);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    height: 50vh;
}


    header{
    text-align: center;
    background-color: lemonchiffon;
    padding: 12PX;
    
}
a{
    margin: 50px;
    font-size: x-large ;
    text-decoration: none;
    padding: 72px;
    color: blue;
    
}
.logo{
    height: 60px;
width: 13vh;
}
section{
    text-align: center;

}
h1{
    padding-top: 75px;
    font-size: 80px;
}
h3{
    font-size: 30px;
    
}
h2{
    padding-top: 150px;
    font-size: 35px;
}
footer{
    text-align: center;
    padding: 20px;
    color: blue;
}




